@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/style.css">

<h1>Current Partners</h1>
<hr>
<!-- Portfolio Gallery Grid -->
<div class="row">
    <div class="column">
        <div class="content">
            <img src="/css/image/regularshowbg.jpg" style="width:100%">
            <h3>Cartoon Network</h3>
            <p>Cartoon Network is an American cable television channel owned by Warner Bros. Discovery. It is the flagship property of The Cartoon Network, Incorporated.</p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="/css/image/phineasandferbbg.jpg" style="width:100%">
            <h3>Disney Channel</h3>
            <p>Disney Channel is an American pay television channel that serves as the flagship property of Disney Branded Television, a unit of the Disney Entertainment division of The Walt Disney Company.</p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="/css/image/spongebobbg.jpg" style="width:100%">
            <h3>Nickelodeon</h3>
            <p>Nickelodeon is an American pay television channel owned by Paramount Global through Paramount Media Networks' subdivision, Nickelodeon Group.</p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="/css/image/questionmark.jpg" style="width:100%">
            <h3>Future Partners</h3>
            <p>Our company is always looking for new partners, contact us at www.tigilanmoko.com</p>
        </div>
    </div>
    <!-- END GRID -->
</div>
